################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/ETC/.vs
/ETC/ETCalc/.vs
*.suo
*.db
*.opendb
/ETCalc/ETCalc/obj/Debug/net8.0-windows
/ETCalc/.vs/ETCalc
/.vs/ETC/v17
/Desktop/ETC/obj
/.vs/Tauchcomputer/v17
/.vs/VSWorkspaceState.json
